/* global */
#cluetip-close img {
  border: 0;
}
#cluetip-title {
  overflow: hidden;
}
#cluetip-title #cluetip-close {
  float: right;
  position: relative;
}
.cluetip-arrows {
  display: none;
  position: absolute;
  top: 0;
  left: -11px;
  height: 22px;
  width: 11px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
#cluetip-extra {
  display: none;
}
/***************************************
   =cluetipClass: 'default' 
-------------------------------------- */

.cluetip-default {
  background-color: #fff;
  border:1px solid #606060;
}
.cluetip-default #cluetip-outer {
  position: relative;
  margin: 0;
  background-color: #fff;
}
.cluetip-default h3#cluetip-title {
  margin: 0 0 5px;
  padding: 8px 10px 4px;
  font-size: 1.1em;
  font-weight: normal;
  background-color: #49515c;
  color: #fff;
}
.cluetip-default #cluetip-title a {
  color: #fff;
  font-size: 0.95em;
}  
.cluetip-default #cluetip-inner {
  padding: 4px;
}
.cluetip-default div#cluetip-close { 
}