/* 1 Col LC Con Side-Xtra */
/* Source: http://blog.html.it/layoutgala/ (#27) */
*{ margin: 0; padding: 0;}
#sidebarw{ float: left; width: 25%;}
#sidebar, #extra{ padding-top: 1px;}
#extraw{ float: left; width: 74.9%;}
#footerw{ clear: left; width: 100%;}
